.header {
  display: flex;
  align-items: auto;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: pink;
  border-radius: 15px;
}

img {
  width: 30px;
}

.icons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2px;
  padding: 5px;
}

.content {
  padding: 10px;
}

.description {
  overflow-y: auto;
  max-height: 80px;
}

/* Form */

.form-layout {
  background-color: gray;
  height: 600px;
  width: 420px;
  position: absolute;
  border-radius: 25px;
}

/* Input */

.inputCreate {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 10px;
  padding: 13px;
}

.form {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
