.sideB {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.input-wrapper {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.input-search {
  border: none;
  box-sizing: border-box;
  background-color: var(--azul-secundario);
  border-radius: 25px;
  padding: 12px;
  width: 80%;
  margin-right: 12px;
}
.lupa {
  width: 25px;
  margin-right: 10px;
}
.btn-header {
  border: none;
  justify-content: center;
  align-intens: center;
  background-color: var(--azul-secundario);
  cursor: pointer;
  border-radius: 25px;
  width: 60%;
  margin: 0px auto;
  margin-top: 30px;
  padding: 7px;
}
