.inputCreate {
  padding: 0.5rem;
  margin: 20px;
  outline: none;
  border-radius: 20px;
}

.btn-modalCreate {
  padding: 0.5rem;
  margin: 25px;
  border-radius: 20px;
  background-color: #4f67fd;
  color: white;
  justify-content: flex-end;
}
