.header {
  display: flex;
  align-items: auto;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  width: 200px;
  height: 230px;
  background-color: pink;
  border-radius: 15px;
}

img {
  max-width: 23px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2px;
  padding: 8px;
}

.content {
  padding-left: 10px;
}

.description {
  overflow-y: auto;
  max-height: 80px;
}

.content-name {
  font-size: 22px;
}
